{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Qr Code Scanner </title>
</head>
<body>
    <div class="container">
        <!-- code here -->
        <div class="card">
            <h2>Qr Code Generator</h2>
            <form class="card-form" action="" method="POST">
                {%csrf_token%}
                <div class="input">
                    <input type="url" name="link" class="input-field"  required/>
                    <label class="input-label">Enter Link</label>
                </div>
                <div class="action">
                    <button class="action-button">Generate Code</button>
                </div>
            </form>
            <div class="card-image">	
                <p class="card-heading">
                    {% if qr_name %}
                    <img src="/media/{{ qr_name }}" alt="qr code">
                    <br><br>
                    <a href="/media/{{ qr_name }}" download class=" btn-sucess">
                        <p>Download Qr code as Image</p>
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
  
</body>
</html>



